#topr{
    text-align: right;
    padding: 10px;
}
.google{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 272px;
    height: 92px;
    padding-top: 100px;
}
.search input{
    width: 355px;
    height: 30px;
    border-radius: 25px;
    border: 2px solid grey;
    padding: 20px;
    outline: none;
}
.search{
    text-align: center;
}
.button{
    height: 30px;
    border-radius: 5px;
    background-color: lightgrey;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    transition-duration: 0.3s;
}
.button:hover{
    background-color: grey;
    border: 1px solid black;
}
.center {
    text-align: center;
}
.bottom{
    border: 1px solid grey;
    background-color: lightgrey;
    line-height: 40px;
    z-index: 104;
    position: absolute;
    width: 100%;
    padding-left: 10px;
    bottom: 0;
}
#kor{
    border-bottom: 1px solid grey;
}
#ad{
    
}
#per{
    float: right;
    margin-right: 30px;
}